.dr1-container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
}

.dr1-main {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.dr1-image-big {
    width: 80vw;
    height: 85vh;
    background: url('../aset/32359159_2556185621274244_7932413062198329344_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.dr1-main-caption{
    position: relative;
    box-sizing: border-box;
    height: 500px;
    margin: 50px 100px;

}
.dr1-main-caption-up{
    font-size: 18px;
    box-sizing: border-box;
    position: relative;
}
.dr1-main-caption-up p:nth-child(2){
    font-size: 22px;
}
.dr1-main-caption-up p:nth-child(2)::after{
    content: "________";
}
.dr1-main-caption-up p:last-child{
    font-size: 100px;
    position: relative;
    float: right;
    // right: 90px;
    right: 5%;
    transform: rotate(270deg);
    display: inline-block;
    width: 0;
}
.dr1-main-caption-bottom{
    width: 370px;
    height: 460x;
    margin: 0 auto;
    top: 293px;
    position: relative;
}
.dr1-main-caption-bottom p{
    display: block;
    font-size: 17px;
    text-align: center;
}
span{
    font-weight: 900;
}






