.dr1-album {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.dr1-album-in {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    position: relative;
    padding: 50px;
    width: 50vw;
    margin: 0 auto;
}

.dr1-album-one {
    width: 340px;
    margin-right: 150px;
    box-sizing: border-box;
    position: relative;
    font-size: 17px;
}

.dr1-album-image-one {
    height: 443px;
    width: 340px;
    background: url('/aset/32443685_180053959381399_4892402873280757760_n.jpg');
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 113px;
}

.dr1-album-one p:last-child {
    display: block;
    position: relative;
    transform: rotate(270deg);
    display: inline-block;
    float: right;
    left: 110px;
    bottom: 291px;
    font-size: 15px;
}

.dr1-album-two {
    width: 340px;
}

.dr1-album-image-two {
    margin-top: 250px;
    height: 443px;
    width: 340px;
    background: url('/aset/32344819_2025414704343041_508259394652209152_n.jpg');
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: ease-in-out .5s;
}

.dr1-album-image-two:hover {
    width: 500px;
}


.dr1-album-two p:last-child {
    display: block;
    position: relative;
    transform: rotate(270deg);
    display: inline-block;
    float: right;
    left: 85px;
    font-size: 15px;
    top: 370px;
}