.nav-container{
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
.nav-in{
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    width: 100%;
    position: fixed;

    
}
.nav-img{
    width: 70px;
    height: 70px;
    background-image: url('/aset/bg-logo@2x.png');
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: 25px;
}
.nav-list a{
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
    font-size: 17px;
}
