* {
  padding: 0;
  margin: 0;
}

.nav-container {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.nav-in {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  width: 100%;
  position: fixed;
}

.nav-img {
  width: 70px;
  height: 70px;
  background-image: url("/aset/bg-logo@2x.png");
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
  bottom: 25px;
}

.nav-list a {
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 30px;
  font-size: 17px;
}

.dr1-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
}

.dr1-main {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.dr1-image-big {
  width: 80vw;
  height: 85vh;
  background: url(/images/32359159_2556185621274244_7932413062198329344_n.jpg?c9fdf1c033f43ecd8421673b964f6984);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dr1-main-caption {
  position: relative;
  box-sizing: border-box;
  height: 500px;
  margin: 50px 100px;
}

.dr1-main-caption-up {
  font-size: 18px;
  box-sizing: border-box;
  position: relative;
}

.dr1-main-caption-up p:nth-child(2) {
  font-size: 22px;
}

.dr1-main-caption-up p:nth-child(2)::after {
  content: "________";
}

.dr1-main-caption-up p:last-child {
  font-size: 100px;
  position: relative;
  float: right;
  right: 5%;
  transform: rotate(270deg);
  display: inline-block;
  width: 0;
}

.dr1-main-caption-bottom {
  width: 370px;
  height: 460x;
  margin: 0 auto;
  top: 293px;
  position: relative;
}

.dr1-main-caption-bottom p {
  display: block;
  font-size: 17px;
  text-align: center;
}

span {
  font-weight: 900;
}

.dr1-album {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.dr1-album-in {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  position: relative;
  padding: 50px;
  width: 50vw;
  margin: 0 auto;
}

.dr1-album-one {
  width: 340px;
  margin-right: 150px;
  box-sizing: border-box;
  position: relative;
  font-size: 17px;
}

.dr1-album-image-one {
  height: 443px;
  width: 340px;
  background: url("/aset/32443685_180053959381399_4892402873280757760_n.jpg");
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 113px;
}

.dr1-album-one p:last-child {
  display: block;
  position: relative;
  transform: rotate(270deg);
  display: inline-block;
  float: right;
  left: 110px;
  bottom: 291px;
  font-size: 15px;
}

.dr1-album-two {
  width: 340px;
}

.dr1-album-image-two {
  margin-top: 250px;
  height: 443px;
  width: 340px;
  background: url("/aset/32344819_2025414704343041_508259394652209152_n.jpg");
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
  transition: ease-in-out 0.5s;
}

.dr1-album-image-two:hover {
  width: 500px;
}

.dr1-album-two p:last-child {
  display: block;
  position: relative;
  transform: rotate(270deg);
  display: inline-block;
  float: right;
  left: 85px;
  font-size: 15px;
  top: 370px;
}

